/* image-card.component.css */
.card {
  position: relative;
  width: 200px; /* fixed width */
  height: 250px; /* fixed height */
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  flex-shrink: 0; /* prevent shrinking if in a flex container */
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; /* fills card and crops if necessary */
}

.card .label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  font-family:'Lucida Sans';
  font-weight: 300;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
}
